@import './vars';

header {
	position: sticky;
	top: 0;
	left: 50%;
	padding: 0.8em;
	@include flex($justify: space-between) // transform: translate(-50%, -50%);
;
}
nav {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	// margin: 1.2em auto;
	padding: 0.6em 0.8em;
	background: var(--bg2);
	border-radius: 0.6em;
	#nav-links {
		@include flex($justify: space-evenly);
		li {
			cursor: pointer;
			padding: 0.4em 0.6em;
			&:active {
				transform: scale(0.95);
			}
			&.active svg {
				color: var(--accent);
			}
		}
	}
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
